numpy
pandas
matplotlib
scikit-learn
seaborn
future
lxml
pymavlink
pyserial
MAVProxy
geocoder
empy==3.3.4
ptyprocess
dronecan
flake8
junitparser
wsproto
tabulate
pygame
intelhex
pexpect
wxPython 
Pillow
opencv-python